*{
  padding: 0;
  margin: 0;
}
header{ 
  height: 5%;
  width: auto;
  padding: 20px 450px;
  background: black; 
}
.Icon{
border-radius: 10em;
  width: 50px;
  height: auto;
  float: left;
  background: white;
}
.Title{
  color:white;
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 100px;
}
.Menu{
  color:white;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  margin-top:10px;
  float: right;
}
.Menu:hover{
  color:lime;
}
.Advertisement{
  height: 250px;
  width: auto;
  padding-left:450px;
  background: rgba(29,117,222,255); 
  color:white;
}
footer{
 height: 50px;
  width: auto;
  padding: 20px 100px;
  background: blue; 
  text-align: center;
}
h1{
  text-align:left;
  padding-top: 40px;
}
h2{
  text-align:left;
  padding-top: 30px;
  margin-bottom: 20px;
}
button{
  padding:10px;
  border-radius: 5em;
}
.Start{
  width:150px;
  font-size:14px;
  font-weight:bold;
  background: black;
  color: white;
  border:none;
}
.ChooseVarients{
  width:330px;
  font-size:14px;
  font-weight:bold;
  background: rgba(29,117,222,255); 
  border:2px solid whitesmoke;
  color: white;
}
.PremiumSubsribe{
  height: 450px;
  width:auto;
}
.PremiumTitle{
  font-size:40px;
  text-align: center;
}
.PicturesLine{
  width: 900px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
.Pictures{
  border-radius: 5em;
  width: 120px;
  height: auto;
  float: left;
  margin:50px 40px;
}
.PremiumAdvertisment{
  height:600px;
  background: whitesmoke;

}